[2021-02-04 23:02] alolita opened #2 "Rewrite Prometheus receiver in Collector: Remove OpenCensus dependency and transform Prometheus samples directly into OTLP metrics"
Rewrite the Prometheus receiver to remove the OpenCensus dependency and transform Prometheus samples directly into OpenTelemetry metrics data.

Component: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/prometheusreceiver

[2021-02-04 23:12] alolita opened #3 "Validate receiver configuration is compatible with Prometheus server"
Ensure receiver configuration is compatible with Prometheus server

Component: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/prometheusreceiver

[2021-02-04 23:19] alolita opened #4 "Ensure service discovery is aligned with Prometheus server"
Ensure service discovery implemented in the Prometheus receiver is aligned with Prometheus server.

Component: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/prometheusreceiver

[2021-02-04 23:22] alolita opened #5 "Output a stale marker if a series disappears from a scrape"
Output a stale marker if a series disappears from a scrape.

Component: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/prometheusreceiver

[2021-02-04 23:27] alolita opened #6 "Add auto-sharded scraping capability for Kubernetes"
Add auto-sharded scraping capability for Kubernetes

Component: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/prometheusreceiver

A design proposal is needed for this task.

[2021-02-04 23:29] alolita opened #7 "Ensure Prometheus target is added as a label to incoming samples automatically"
Ensure Prometheus target is added as a label to incoming samples automatically.

Component: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/prometheusreceiver

A design proposal is needed for this task.

[2021-02-05 01:19] alolita opened #8 "Support "up" metric for Prometheus"
Implement the "up" metric for Prometheus.

Component: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/prometheusreceiver

Related issue: https://github.com/open-telemetry/opentelemetry-specification/issues/1078

[2021-02-05 01:35] alolita opened #9 "Support write-ahead log (WAL) capabilities similar to Prometheus server"
Support WAL capabilities similar to Prometheus server. The Grafana Cloud Agent provides a reference implementation - see https://github.com/grafana/agent

OTel Component: https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/prometheusreceiver

Also see Brian Brazil's post: https://www.robustperception.io/how-much-space-does-the-wal-take-up

@dashpole suggested that since WA

[2021-02-05 01:44] alolita opened #10 "Fix the “out of order samples” and “duplicate sample for timestamp” issues"
Fix the “out of order samples” and “duplicate sample for timestamp” issues in the Prometheus RW exporter.

OTel Components:
https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusremotewriteexporter
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/awsprometheusremotewriteexporter

Also see https://github.com/open-telemetry/opentel

[2021-02-05 01:50] alolita opened #11 "Allow user to configure min/max concurrent outgoing requests, fan-out by timeseries"
Allow user to configure min/max concurrent outgoing requests, fan-out by timeseries in the Prometheus RW exporter.

OTel Components:
https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusremotewriteexporter
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/awsprometheusremotewriteexporter

[2021-02-05 02:01] alolita opened #12 "Support retry mechanisms similar to Prometheus server, allow fine tuning"
Support retry mechanisms similar to Prometheus server, allow fine tuning in the Prometheus RW exporter.

See https://prometheus.io/docs/practices/remote_write/ for fine tuning options.

Related OTel Components:
https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusremotewriteexporter
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/export

[2021-02-05 02:02] alolita opened #13 "Debug log how many samples are written or dropped in the Prometheus RW exporter"
Debug log how many samples are written or dropped in the Prometheus RW exporter

[2021-02-05 02:06] alolita opened #14 "Determine deployment model: DaemonSet vs StatefulSet"
Determine deployment model: DaemonSet vs StatefulSet for Kubernetes environments

A design proposal is needed for this task.

[2021-02-05 02:07] alolita opened #15 "Publish reference Kubernetes deployment YAML files with Prometheus configuration examples"
Publish reference Kubernetes deployment YAML files with Prometheus configuration examples.

[2021-02-05 02:08] alolita opened #16 "Document Prometheus labeling guidelines and recommendations"
Document Prometheus labeling guidelines and recommendations, e.g. label with namespace, pod name, etc for Kubernetes environments.

[2021-02-05 15:42] dashpole commented on #6
This is blocked by https://github.com/open-telemetry/wg-prometheus/issues/14

[2021-02-05 15:47] dashpole commented on #7
Related issues:
https://github.com/open-telemetry/opentelemetry-collector/issues/2363
https://github.com/open-telemetry/opentelemetry-collector/issues/575

[2021-02-05 15:49] jsuereth commented on #8
FYI: For those like myself, @jmacd has a [proposal](https://github.com/open-telemetry/opentelemetry-specification/issues/1078#issuecomment-769463131) in the related issue you should check out.

[2021-02-05 15:59] dashpole commented on #9
Related to https://github.com/open-telemetry/opentelemetry-collector/issues/2285.  I'm currently viewing the prometheus WAL as a potential implementation of buffering, as I think it shares many of the same goals.

cc @erain @pmm-sumo

[2021-02-05 16:28] erain commented on #9
Thanks @dashpole !

I am sorry that I was a little bit overloaded past two weeks so I haven't done much for this. If you already have some insides, would love to learn more.

[2021-02-08 18:55] alolita opened #17 "Outline Prometheus pipeline and use cases"
What does the Prometheus pipeline look like? Add use cases that the Prometheus pipeline needs to support.

@rakyll @alolita will add AWS use cases; @punya, @jsuereth will add for GCP

[2021-02-09 01:23] dashpole commented on #14
# Background

## Control-Plane Scalability

In kubernetes, control-plane scalability refers to how the load on the APIServer changes with respect to the number of each object in the cluster.  Some objects, like nodes, pods, and endpoints, are vastly more common than other objects, and tend to correlate strongly with the number of nodes in the cluster, which is why cluster scalability is often meas

[2021-02-09 18:56] RichiH opened #18 "Support Prometheus histograms"
Prometheus uses `le`, OTel uses `ge` bounded buckets. The two are mathematically incompatible and impossible to transform from one into the other.

[2021-02-09 18:56] RichiH commented on #8
Also see https://docs.google.com/document/d/1hn-u6WKLHxIsqYT1_u6eh94lyQeXrFaAouMshJcQFXs/edit#heading=h.k5ptdzrtfw6

[2021-02-09 21:18] rakyll opened #19 "Decide on performance benchmarking criteria"
The work we planned for Phase 1 will be mainly about stability and performance. In order to achieve our performance goals, we will need to track the improvements and regressions. We are considering to benchmark the entire Phase 1 pipeline (Prometheus receiver -> collector -> Prometheus remote write exporter) and potentially will contribute micro benchmarks as needed. We need to decide on what to b

[2021-02-09 21:20] rakyll commented on #19
Issues that will require performance testing:

- https://github.com/open-telemetry/wg-prometheus/issues/10
- https://github.com/open-telemetry/wg-prometheus/issues/11
- https://github.com/open-telemetry/wg-prometheus/issues/12

[2021-02-09 21:30] jmacd commented on #18
See also this current discussion about histograms in OTLP:

https://github.com/open-telemetry/opentelemetry-proto/pull/226#issuecomment-776203152

To be clear, that discussion has practically fallen apart, but it's a debate over an independent problem about locating the boundaries and encoding them compactly, not about `>=` vs `<=` question.

Whenever this has come up in the past, the issue gets s

[2021-02-09 22:27] dashpole commented on #19
Some other prior art are the existing collector testbed tests: https://github.com/open-telemetry/opentelemetry-collector/tree/main/testbed.  It looks like they could be extended to support prometheus receivers/PRW exporters.

[2021-02-10 08:21] RichiH commented on #18
Agreed. There's nuance between the four possible boundary choices, but they are effectively/roughly equivalent if applied consistently on floats. Integer or discrete values are a niche use case and arguably better served by other mechanisms depending on specifics.

My main concern is user trust if their metrics pipelines behave subtly differently and they need to write complex queries to re-cast d

[2021-02-10 11:57] tomwilkie commented on #3
FYI we've added remote_write receiver to Prometheus, it'll be in the next release (coming pretty soon now): https://github.com/prometheus/prometheus/pull/8424

This should make it easier to test this whole pipeline.

[2021-02-10 12:01] tomwilkie commented on #5
FYI here is where we do it in the Prometheus code: https://github.com/prometheus/prometheus/blob/6bc67805332dad9345f9d11069f321203bf89f8d/scrape/scrape.go#L1381

If we reuse the Prometheus scrape code (which I think we do, right?) then it should just be a case of making sure the stale markers round trip from prometheus -> OTLP -> remote_write.

[2021-02-10 12:10] tomwilkie commented on #6
There are multiple techniques we've tried here:
- prometheus operator used hashmod to distribute targets (@brancz is there any documentation on this)
- grafana cloud agent does the host-filtering approach when run as a daemon set
- grafana cloud agent can also consistently-hashed the scrape configs to distribute them between replicas when run as a statefulset (see https://github.com/grafana/agent/

[2021-02-10 12:32] tomwilkie commented on #14
Thank you for your detailed thoughts @dashpole!  Comments in line:

I believe the warning on https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config is worth heeding:

[code]

It is common (esp with the prometheus-operator) to have _many_ scrape configs, each with their own set of relabelling rules and targeting specific jobs.  Using the selector in there wou

[2021-02-10 12:44] tomwilkie commented on #9
The architecture in Prometheus is `scraper -> WAL -> remote_write` - the scraper and the remote_write code and explicitly decoupled.  In Prometheus its the TSDB code the writes the WAL, wheres in the Grafana Agent we have a little adapter that writes to the WAL without a TSDB:  https://github.com/grafana/agent/blob/master/pkg/prom/wal/wal.go#L91

Whats the plan with the collector?  I could see thi

[2021-02-10 12:50] tomwilkie commented on #10
I think this is due to the exporter sending samples in parallel without any sharding.  The Prometheus remote write code goes to quite some length to ensure samples for a specific series are delivered in order, but between series there is parallelism - see the queuemanager code: https://github.com/prometheus/prometheus/blob/6bc67805332dad9345f9d11069f321203bf89f8d/storage/remote/queue_manager.go#L8

[2021-02-10 14:08] dashpole commented on #9
@tomwilkie I'm not very familiar with the WAL interfaces.  Would it be possible to write other (i.e. OTLP) data structures to the log instead of requiring metrics to be in prometheus format?  Ideally, it would look like
`scraper -> OTLP translation -> WAL -> prometheus translation -> remote_write`

[2021-02-10 15:01] dashpole commented on #14
[code]

Do you know if this implies that many _identical_ selectors would share the same LIST/WATCH?

Yeah, there is a `/pods` debugging endpoint on the kubelet that can list pods, but no watch capabilities.  It also has some correctness issues.

Yeah, GKE will have some use-cases where storage is required as well.  But I don't think all use-cases require it.

Completely agree.  The example with s

[2021-02-10 16:23] tomwilkie commented on #14
Fair point, I think many identical selectors would.  We should check to see how prom-op generates its scrape config, to see if it does indeed generate identical selector.  @brancz will know...

[2021-02-10 16:58] dashpole commented on #14
The rough consensus from the meeting today was:

The 80% use-case seems best covered by StatefulSets, but there are some important use-cases that require a DaemonSet, such as host metrics.  The "default" should be StatefulSet, and we should and avoid over-complicating the documentation for end-users.

@rakyll you mentioned you think we need to do some experimentation.  What do you think still need

[2021-02-10 18:11] rakyll commented on #14
@dashpole We want to see the resource consumption (given we will likely to deploy the collector both as a DaemonSet and Stateful) and evaluate some earlier designs we have been iterating on. Otherwise, we are in agreement with default being the StatefulSet.

[2021-02-10 19:43] rakyll commented on #14
Here is a summary from our offline discussion:

- StatefulSet works for us to collect users' application metrics (we should have this as the default)
- For large non-Fargate EKS clusters, we will run it as a DaemonSet to scale and to be able to access host-specific metrics
- For Fargate EKS clusters, we will run it StatefulSet because there are no host-metrics and Fargate doesn't support DaemonSet

[2021-02-11 08:56] brancz commented on #6
See `replicas` and `shards` documentation: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec

[2021-02-11 09:08] brancz commented on #14
Can you point out where the host-metrics argument comes from? I can only see it in the conclusion, not in the foregoing description. We've been collecting host metrics from clusters up to 2000 nodes just fine with the StatefulSet approach (never tried larger myself so can only comment up to that size).

The deduplication of list/watch with prometheus SD is on everything but relabeling configs, so

[2021-02-11 15:21] dashpole commented on #14
There is a [host metrics receiver](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/hostmetricsreceiver#host-metrics-receiver) that collects things like host cpu, memory, filesystem usage, etc.  When you say you are collecting host metrics with the StatefulSet, you mean you are using something like the node exporter, right?  This is drawing roughly the same conclusion,

[2021-02-11 16:52] brancz commented on #14
I see thanks for the link. The setup I was talking about was non-sharded Prometheus servers. It's been too long that I've seen the numbers since I left Red Hat that I could comment on the resources.

[2021-02-11 20:31] rakyll commented on #3
Great news, @tomwilkie. At least two people asked whether we can extend the Phase 1 with the prometheus pull exporter so they can export to the Prometheus server. prometheus/prometheus#8424 helps us to focus the work on the remote write exporter and still meet the needs of the Prometheus server users.

[2021-02-12 00:15] alolita opened #20 "Support Summary metric in OTel datamodel for Prometheus"
See https://github.com/open-telemetry/opentelemetry-specification/issues/1146

[2021-02-13 08:31] RichiH commented on #20
For supporting information, also see:

* https://github.com/OpenObservability/OpenMetrics/blob/master/specification/OpenMetrics.md#summary
* https://prometheus.io/docs/concepts/metric_types/#summary

[2021-02-13 08:42] RichiH commented on #16
Also see:

* https://prometheus.io/docs/practices/naming/
* https://github.com/OpenObservability/OpenMetrics/blob/master/specification/OpenMetrics.md#metric-naming-and-namespaces

[2021-02-13 08:49] RichiH commented on #7
No implying this must be supported, just noting: The other default label in Prometheus is `job`, which is roughly "what part of service discovery did the target information come from?".

Also see https://prometheus.io/docs/concepts/jobs_instances/

[2021-02-13 20:54] bogdandrutu commented on #20
See https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/metrics/v1/metrics.proto#L525. Is that not enough for this?

[2021-02-13 20:55] bogdandrutu commented on #18
I think this is the same as https://github.com/open-telemetry/opentelemetry-proto/issues/258

[2021-02-14 11:25] RichiH commented on #18
Agreed, it's the same issue. I don't know what the plan with temporary duplications and deduplication is.

[2021-02-14 14:52] bogdandrutu commented on #20
Closing this as the support was added, please reopen if I missed something

[2021-02-14 14:52] #20 closed

[2021-02-16 19:56] scheler commented on #7
They labels should be promoted to the "resource attributes" as they identify the resource against which the metrics are associated/reported.

[2021-02-17 16:23] rakyll commented on #8
See https://github.com/open-telemetry/opentelemetry-specification/issues/1078.

[2021-02-17 16:50] alolita commented on #8
Note: As long as it is a scrape, a 'up' metric is generated in Prometheus even in an unsuccessful scrape.

[2021-02-18 12:04] brancz commented on #6
Btw there are already thousands of prometheus-operator users, I'd be happy to discuss how opentelemetry or other mechanisms could be a drop in replacement there. It doesn't seem worth it to re-implement everything in multiple places, when the whole point is compatibility with the existing ecosystem.

[2021-02-19 22:06] bogdandrutu opened #21 "Prometheus Histogram edge case which we don't support"
Form the [documentation](https://github.com/OpenObservability/OpenMetrics/blob/master/specification/OpenMetrics.md#histogram) `sum` is not always present and MUST NOT be present in some scenarios, see:

This is a very strange edge case to make things work with Prometheus, and I don't know how we can support this and enforce it.

One option is to have https://github.com/open-telemetry/opentelemetry

[2021-02-22 23:49] bogdandrutu commented on #12
Why do we need to follow their tunning options?

[2021-02-24 07:31] alolita opened #22 "Prototype an experimental version of OTel Collector Prometheus receiver using Grafana Cloud Agent"
[Grafana Cloud Agent](https://github.com/grafana/agent/) (GCA) collects and exports metrics to a Prometheus backend using a push based remote-write exporter. GCA also supports service discovery, scraping and WAL which are some of the requirements we want to see the Collector receiver support.

Can we prototype an experimental version of the Prometheus receiver using the GCA as a baseline?

[2021-02-24 08:46] roidelapluie commented on #12
While a lot of these are implementation details, some remote write receivers might have limitations i the amount of data they can receive (max_samples_per_send, max_shards). While that is not in scope for the pure protocol compatibility perspective, and such remote write receivers probably won't be able to sustain a big amount of data ayway, having the same options would guarantee "de facto" compa

[2021-02-24 12:58] RichiH commented on #22
As the Prometheus-specific parts of the Grafana Cloud Agent will become the basis for the [Prometheus Agent](https://docs.google.com/document/d/1cCcoFgjDFwU2n823tKuMvrIhzHty4UDyn0IcfUHiyyI/), that seems like a good starting point for testing. Of particular interest to OTel would be [the in-flight PromQL PR](https://github.com/grafana/agent/pull/393). Plus, this would give the OTel pipeline a known

[2021-02-24 16:41] alolita commented on #14
From discussion on Feb 24 meeting, based on the issue discussion - one can use either but the default is using a stateful set.

[2021-02-24 16:41] #14 closed

[2021-02-24 16:41] rakyll opened #23 "[Tracker Issue] Design a Prometheus-specific CRD for the Operator"
Potentially, we are going to build a Prometheus Operator to manage the Prometheus autoscaling, sharding and other high-level deployment configuration. Design a CRD document to discuss deployment and scheduling specific configuration and discuss with the OpenTelemetry Operator project to see if there are any potential breaking changes.

[2021-02-24 16:48] alolita commented on #22
One of the issues that needs to be handled is the RW implementation.

[2021-02-24 16:53] RichiH commented on #22
As to @rakyll 's comment in the call on scaling in the call just now, please also see @rfratto 's design doc https://docs.google.com/document/d/1JI804iaut6bKvZprOydes3Gb5Awo_J0sX-3ORlyc5l0

[2021-02-24 16:57] dashpole commented on #8
I experimented with this, and have a working PoC, in-case anyone wants to see what it would look like.  It isn't much, but might be useful to someone: https://github.com/open-telemetry/opentelemetry-collector/compare/main...dashpole:add_up_metric.  One thing that came up is that the UP metric doesn't seem to have a type when we receive it.  In order to make it work, I had to set the type to a prom

[2021-02-24 17:01] bwplotka commented on #23
This is great and I think others are following with this too.

I wonder only.. does it make sense to actually extend this CRD to be for all signals as long as you pull? (Metrics, tailing logs, tailing traces) 🤗

cc @kakkoyun @tomwilkie

Also, I would vote to tackle this only when Otel OM collector configuration is existing&stable.

[2021-02-24 20:11] rakyll commented on #23
I think the description was not good enough to explain what this task was about. There will have more than a few layers in the CRD.

1. Deployment, autosharding and scheduling related configuration
1. OpenTelemetry collector configuration
   1.  Prometheus configuration

1st item is the target for this work. We will eventually turn OTel configuration into a CRD as well but it's a long term item to

[2021-02-26 20:18] rakyll commented on #23
An early draft is available at https://docs.google.com/document/d/1v1WS8ojHnDgrQhSrirRo8PhvNcpPde9x_4y6HGJeCPg/edit?usp=sharing. Let's discuss on the document instead of this issue.

@jpkrohling Can you also take a look?

[2021-03-01 10:42] jpkrohling commented on #23
Thanks for pinging me! I left a couple of comments there with my thoughts.

[2021-03-01 19:19] rakyll opened #24 "Write a Prometheus/OpenTelemetry compatibility spec"
We would like to document the extend of the compatibility and how OpenTelemetry concepts maps to Prometheus (and vice versa) at https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/compatibility. The spec should also outline the differences in the data model and limitations.

[2021-03-03 16:31] alolita commented on #21
Notes from March 3 Prometheus-WG meeting:
Brian, RichiH note that "if there are no negative bucket boundaries, there are no negative observations."
Bogdan will file an issue on OM to clarify assumptions and alignment with specification.

[2021-03-03 16:34] RichiH commented on #21
If the implementor anticipates negative thresholds, `then the Histogram MetricPoint MUST NOT contain a sum value`. Depending on if it's a gap in spec or unclear, fix will go into spec proper or Considerations section.

[2021-03-03 17:25] mxiamxia commented on #6
AWS has done some experimental work that can support auto-sharded OpenTelemetry Collectors based on the work load in Kubernetes.

The design doc for the proposal,
 - https://docs.google.com/document/d/13Gcu5SlbgjrsQJQUuZAjdQo1MOQA76Yji3oX8yHh-p8/edit#heading=h.g1xe9denbv4y

[2021-03-03 18:20] dashpole commented on #23
One point that @brancz raised at the meeting earlier today is that we should avoid, if at all possible, defining CRDs that are similar-but-not-the-same to CRDs that the prometheus operator already has, and that have wide adoption within the community.  Those include [Prometheus](https://github.com/prometheus-operator/prometheus-operator/blob/6712e1525c7525fb443da8150b5f73842f7a71a1/pkg/apis/monito

[2021-03-03 18:43] brancz commented on #23
PodMonitors are a relatively recent addition, overwhelmingly the community uses ServiceMonitors. I also mentioned there have been talks about creating a subset representing the Prometheus-agent work that has been agreed on in the Prometheus project, which seems like what we would want here. Happy to collaborate on this.

[2021-03-12 17:21] sankala-dremio opened #26 "PrometheusReceiver Ignores Timeseries (Histogram and Summary) Metrics without "_sum" counter"
Currently, when Timeseries data is scraped by Prometheus Scraper, it expects bucketed data and two counters along with those buckets - **_count** and **_sum**.
Some frameworks do no capture the **_sum** and hence do not produce the **_sum** counter in the Prometheus Exp format. While the Scraper and Prometheus work fine and display appropriate graphs without this counter, Prometheus receiver on th

[2021-03-17 17:41] jmacd commented on #26
What does the real Prometheus server do in this case? We should do what it does, I think.

[2021-03-25 20:36] sankala-dremio commented on #26
Prometheus Server accepts and renders time series metric irrespective of presence of "_sum". Hence prometheus receiver should at least do the same. I can submit a PR for this change if agreed upon this behavior.

[2021-03-29 20:58] rakyll commented on #2
cc @odeke-em

[2021-03-29 20:58] rakyll commented on #5
cc @odeke-em

[2021-03-29 21:36] rakyll commented on #9
cc @odeke-em

[2021-03-31 16:12] rakyll commented on #19
@RichiH may provide some details from the benchmarking they are considering for Prometheus. We might be interested to compare the collector to Prometheus and Grafana Agent. We expect comparisons with Prometheus won't be useful given Prometheus' storage components and it'll be more useful to compare the collector to the Grafana Agent.

[2021-04-05 21:08] rakyll commented on #8
cc @odeke-em

[2021-04-06 23:19] alolita opened #30 "[Tracker Issue] List of Prometheus issues in the Collector"
https://github.com/open-telemetry/opentelemetry-collector/issues?q=is%3Aissue+is%3Aopen+prometheus+label%3Aarea%3Aprometheus

[2021-04-07 14:00] RichiH commented on #19
I couldn't find explicit test results for a recent Grafana Agent, but let's go with Prometheus including storage, rule evaluation, and alerting so we have some baseline number. Two datapoints:

One internal Prometheus is currently doing 1,295,069 active series @ 15 second scrape interval with 1.3-1.6 cores. As a lower bound for Prometheus, this will not be wrong: 1,295,069 * 4 / 60 / 1.45 =~ 59,54

[2021-04-07 21:08] rakyll commented on #8
This needs to be assigned to @odeke-em.

[2021-04-07 21:09] rakyll commented on #26
@odeke-em is working on this.

[2021-04-07 22:08] Aneurysm9 opened #31 "Add StatefulSet support to OTel Operator"
As outlined in #14, we want to be able to deploy the Collector in a horizontally-scaled configuration as a StatefulSet.  Combined with other work deriving from #6 this will enable efficiently scaling to a large number of scrape targets.

This issue should be used to track the design of StatefulSet management in the OTel Operator and to aggregate any other issues and PRs created during implementati

[2021-04-08 03:24] Aneurysm9 opened #32 "Prometheus Service Discovery Configuration Interception"
To enable the OTel Operator to perform Prometheus scrape target identification for a set of Collector instances in support of #6 we need to be able to identify and extract all `*_sd_config` and `relabel_config` entries in each `scrape_config` entry in the Prometheus receiver configuration.  All `*_sd_config` entries should be replaced by a single `file_sd_config` entry referencing a file that can

[2021-04-08 04:14] jmacd commented on #8
@odeke-em please join the OTel organization. We will sponsor you! :-)

[2021-04-08 04:17] odeke-em commented on #8
Thank you @jmacd, and great to catch you here!

[2021-04-08 04:19] Aneurysm9 opened #33 "Add scrape target update endpoint to the Collector's Prometheus receiver"
In order to support distribution of Prometheus scrape targets among a set of Collector instances as required for #6 we will need to create a mechanism for updating the set of scrape targets used by any given Collector instance.  The Prometheus receiver should be extended with a server that can process requests to update the scrape targets for a given job.  It should receive a list of Prometheus [`

[2021-04-08 06:45] jmacd commented on #26
Brian B. stated in today's meeting that Prometheus will accept Summaries without "_cnt" as well as without "_sum" and/or without any quantiles.

[2021-04-08 15:46] rakyll commented on #24
Closed via #29.

[2021-04-08 15:46] #24 closed

[2021-04-13 17:08] odeke-em commented on #26
The Prometheus receiver wasn’t necessarily the problem but it was the exporter as I showed in https://github.com/open-telemetry/opentelemetry-collector/issues/2661#issuecomment-813871810 and fixed by PR https://github.com/open-telemetry/opentelemetry-collector/pull/2900

Let’s close this issue as the change to the collector just got merged. Thanks everyone for the discussion.

[2021-04-13 17:21] rakyll commented on #10
We are producing samples in non-chronological order due to the bug explained at https://github.com/open-telemetry/opentelemetry-collector/issues/2315#issuecomment-818502114.

[2021-04-13 17:30] bogdandrutu commented on #26
@odeke-em it was also this https://github.com/open-telemetry/opentelemetry-collector/pull/2812 that helped

[2021-04-13 17:30] #26 closed

[2021-04-13 17:31] bogdandrutu commented on #18
I think this is fixed, since OTLP changed to use "le". Please reopen if that is not the case

[2021-04-13 17:31] #18 closed

[2021-04-13 17:32] odeke-em commented on #26
Gotcha, thank you @bogdandrutu for the follow up.

[2021-04-13 23:28] alolita opened #34 "[Tracker Issue] Add Prometheus Remote Write compatibility tests to OTel Collector"
Use the test suite at https://github.com/tomwilkie/remote-write-compliance by @tomwilkie for compatibility testing of the Prometheus Remote Write Exporter in the Collector.

[2021-04-15 04:39] #10 closed

[2021-04-19 00:56] odeke-em commented on #7
@alolita, in the collector, functionality for this was implemented in https://github.com/open-telemetry/opentelemetry-collector/pull/2897, could we please close this issue?

[2021-04-19 17:33] dashpole commented on #33
According to #32, the targets are being written to a configmap, but the above says we want a server that processes requests.  Which are we planning to do?

[2021-04-19 17:46] odeke-em commented on #34
I'll take this on, please assign it to me @alolita!

[2021-04-19 17:51] alolita commented on #34
Assigned @odeke-em

[2021-04-20 00:27] jmacd opened #35 "Clarify the meaning and purpose of external labels"
External labels were discussed in the 4/14 Prometheus-OTel-WG SIG meeting.

The Prometheus documentation describes external labels:

[code]

When we say that "labels are added", no semantic interpretation is given. This implies:

- some external labels describe the process being monitored (e.g., datacenter name)
- some external labels describe how the process was monitored (e.g., replica name)

It

[2021-04-20 02:00] rakyll opened #36 "Remote write compliance: TestRemoteWrite/otelcollector/Invalid"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write TestRemoteWrite/otelcollector/Invalid.

[code]

[2021-04-20 02:02] rakyll opened #37 "Remote write compliance: TestRemoteWrite/otelcollector/JobLabel"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write TestRemoteWrite/otelcollector/JobLabel.

[code]

[2021-04-20 02:03] rakyll opened #38 "Remote write compliance: TestRemoteWrite/otelcollector/Staleness"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write TestRemoteWrite/otelcollector/Staleness.

[code]

[2021-04-20 02:03] rakyll opened #39 "Remote write compliance: TestRemoteWrite/otelcollector/InstanceLabel"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write
 TestRemoteWrite/otelcollector/InstanceLabel.

[code]

[2021-04-20 02:06] rakyll opened #40 "Remote write compliance: TestRemoteWrite/otelcollector/Counter"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write TestRemoteWrite/otelcollector/Counter.

[code]

[2021-04-20 02:06] rakyll opened #41 "Remote write compliance: TestRemoteWrite/otelcollector/Up"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write
TestRemoteWrite/otelcollector/Up.

[code]

[2021-04-20 02:07] rakyll opened #42 "Remote write compliance: TestRemoteWrite/otelcollector/Histogram"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write
TestRemoteWrite/otelcollector/Histogram.

[code]

[2021-04-20 02:08] rakyll opened #43 "Remote write compliance: TestRemoteWrite/otelcollector/NameLabel"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write
TestRemoteWrite/otelcollector/NameLabel.

[code]

[2021-04-20 02:09] rakyll opened #44 "Remote write compliance: TestRemoteWrite/otelcollector/RepeatedLabels"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write TestRemoteWrite/otelcollector/RepeatedLabels.

[code]

[2021-04-20 02:09] rakyll opened #45 "Remote write compliance: TestRemoteWrite/otelcollector/Summary"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write TestRemoteWrite/otelcollector/Summary.

[code]

[2021-04-20 02:11] rakyll commented on #5
Duplicate of https://github.com/open-telemetry/wg-prometheus/issues/38.

[2021-04-20 02:11] #5 closed

[2021-04-20 02:12] rakyll commented on #7
Duplicate of https://github.com/open-telemetry/wg-prometheus/issues/37.

[2021-04-20 02:14] rakyll commented on #8
Duplicate of https://github.com/open-telemetry/wg-prometheus/issues/41.

[2021-04-20 02:14] #8 closed

[2021-04-20 02:20] rakyll commented on #7
After https://github.com/open-telemetry/opentelemetry-collector/pull/2897 is merged, https://github.com/open-telemetry/wg-prometheus/issues/37 is still failing. Closing this issue because it's a duplicate, let's have the conversation on https://github.com/open-telemetry/wg-prometheus/issues/37.

[2021-04-20 02:20] #7 closed

[2021-04-21 03:31] rakyll commented on #36
Related to https://github.com/open-telemetry/wg-prometheus/issues/41.

[2021-04-21 03:34] rakyll commented on #45
Related to https://github.com/open-telemetry/wg-prometheus/issues/43.

[2021-04-21 03:34] rakyll commented on #42
Related to https://github.com/open-telemetry/wg-prometheus/issues/43.

[2021-04-21 03:34] rakyll commented on #40
Related to https://github.com/open-telemetry/wg-prometheus/issues/43.

[2021-04-21 08:20] jmacd opened #46 "Clarify how Prometheus uses the OpenMetrics "Created" timestamp"
The [OpenMetrics specification states for Counter metrics](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#counter):

[code]

The OpenTelemetry data model agrees that this field is useful, and that it should be optional. We have argued that when the Created / Start time is not set, it is possible to miss process restarts, and thus undercount metrics for shor

[2021-04-21 15:20] jeromeinsf commented on #46
Is the proposal more general to include bitemporal modeling that could be used as hints to time the computing of recording rules when data is updated/late ?

[2021-04-21 16:26] Aneurysm9 commented on #33
The Collector configuration is written to a configmap.  It would be updated to include a `file_sd_config` entry for each job with target discovery and assignment managed by the operator.  The update mechanism contemplated here would be to update the files referenced by the `file_sd_config` entries in the Collector config.

[2021-04-21 19:35] jmacd commented on #46
@jeromeinsf If I understand your use of the term correctly, this is probably not the conversation
 bitemporal modeling you're looking for.

This "Created" or "Start" timestamp is used to support knowing when a cumulative series was reset.

Your question @jeromeinsf relates to late-arriving data, and this is definitely an important discussion. Right now, especially in this working group, we are foc

[2021-04-21 20:41] Aneurysm9 commented on #43
Assign to me plz.

[2021-04-21 22:22] rakyll commented on #44
Related to https://github.com/open-telemetry/wg-prometheus/issues/41.

[2021-04-22 21:09] alolita opened #47 "Add unit tests for OTel Operator StatefulSet enhancements"
See open PR for reconcile tests: https://github.com/open-telemetry/opentelemetry-operator/pull/250

Additional tests need to be added for StatefulSet enhancements in the Operator.

Ref: https://github.com/open-telemetry/wg-prometheus/issues/31

[2021-04-22 21:11] alolita commented on #31
Adding StatefulSet enhancements design doc: https://docs.google.com/document/d/1KO9mQf9owbEsxYMe1yevwEOo5S-J0AE3g3HZyY5fZMo/edit#

[2021-04-22 22:20] #37 closed

[2021-04-22 22:20] #39 closed

[2021-04-26 04:56] odeke-em commented on #9
So I've looked into this. As @tomwilkie asked in https://github.com/open-telemetry/wg-prometheus/issues/9#issuecomment-776681800, the best option is:
a) scraper -> OTLP trranslation -> Prrometheus proto -> WAL -> remote_write

and we can't use what the Grafana agent is doing because:
* By the time that we get OTLP metrics, we can convert to Prometheus proto, but trying to implement the Prometheus

[2021-04-26 16:08] pmm-sumo commented on #9
@odeke-em's PR looks very promising. I like how elegant the solution is. The caveat is that it's strictly Prometheus focused and I think we must have a more generic solution in place. There's another [issue](https://github.com/open-telemetry/opentelemetry-collector/issues/2285) that was mentioned already and as part of that initiative I have started working on a [design doc](https://docs.google.co

[2021-04-26 16:36] odeke-em commented on #9
@pmm-sumo thanks for the kind words. Indeed the target here is to intentionally and pragmatically firstly focus on the remotewrite exporter so that we can be stable for May 31st 2021, and then slowly move that to into the collector for everything else and PR being https://github.com/open-telemetry/opentelemetry-collector/pull/3017. We have a short time frame and want to reduce the churn from gener

[2021-05-05 21:04] alolita commented on #23
This will be an ongoing design process as scaling issues are design and built.

[2021-05-11 16:35] #46 closed

[2021-05-11 21:15] #21 closed

[2021-05-12 05:32] alolita commented on #47
Closing this issue - please see https://github.com/open-telemetry/wg-prometheus/issues/31 for related StatefulSet enhancements.

[2021-05-12 05:32] #47 closed

[2021-05-12 05:36] alolita commented on #45
Blocked on PR #3047 being merged in the Collector repo.

[2021-05-12 05:39] alolita commented on #43
Blocked on PR #2993 waiting to be merged in Collector.

[2021-05-12 05:40] alolita commented on #42
Blocked on PR 3047 in the Collector waiting to be approved and merged.

[2021-05-12 05:43] alolita commented on #41
Blocked on PR #2918 in the Collector, waiting to be merged.

[2021-05-12 05:44] alolita commented on #40
Blocked on PR 3047 in Collector; waiting to be merged.

[2021-05-12 05:46] alolita commented on #38
@rakyll pl advise what needs to be done to resolve this issue?

[2021-05-12 05:55] alolita opened #50 "[Tracker Issue] Open Issues for Prometheus components in the Collector"
See list of open issues here:

https://github.com/open-telemetry/opentelemetry-collector/issues?q=is%3Aissue+is%3Aopen+label%3Aarea%3Aprometheus

[2021-05-12 16:28] jsuereth opened #51 "[DataModel] Support GaugeHistogram from Prometheus receiver"
Currently, there is no way to represent a GaugeHistogram imported via the Prometeheus receiver in OTLP.

- [ ] Define a mechanism to encode GauageHistograms in OTLP.
  - See https://github.com/open-telemetry/opentelemetry-proto/issues/274 for discussion on modelling as instantaneous temporality
- [ ] Update prometheus receiver to import GaugeHistograms
- [ ] Update PRW exporter to export GauageHis

[2021-05-12 16:46] dashpole commented on #33
Could the update mechanism live outside the prometheus receiver (e.g. an extension that writes to files)?

[2021-05-14 21:37] #40 closed

[2021-05-14 21:37] #42 closed

[2021-05-14 21:37] #45 closed

[2021-05-17 22:08] Aneurysm9 commented on #43
Test is passing with current collector and compliance tests main branches.

[2021-05-17 22:08] #43 closed

[2021-05-19 15:53] dashpole opened #52 "Which prometheus "internal" metrics are required for conformance?"
Currently, conformance tests require the 'up' metric be present.  However, there are other internal metrics, such as `scrape_duration_seconds`, `scrape_samples_post_metric_relabeling`, `scrape_samples_scraped`, and `scrape_series_added` that a prometheus server would also produce that are designed to make debugging prometheus endpoints easier.

I asked this question at the wg today, and we weren't

[2021-05-19 16:10] dashpole commented on #33
From the discussion today:

* The advantage of including it in the prometheus receiver is that the receiver can manage files, and hide the complexity from the user-facing config.
* The disadvantage is potentially around velocity and stability:  Adding to the prometheus receiver means we won't be able to change this design later, or may delay marking the receiver stable if we aren't confident in th

[2021-05-26 20:42] alolita commented on #52
PR #3116 addresses all these metrics.

[2021-05-26 20:43] alolita commented on #33
An alternative design was discussed in the Prometheus wg today. @dashpole @rakyll looking forward to your feedback on this.

[2021-05-26 20:46] alolita commented on #41
This should be resolved when #3116 is merged.

[2021-05-26 20:47] alolita commented on #36
This test is still failing since the Up metric changes are not merged yet. (#3116)

[2021-05-26 20:49] alolita commented on #32
This is a change that needs to be made in the Operator after #33 is completed.

[2021-05-26 20:50] alolita commented on #31
This has been completed and the PR #265 is merged.

[2021-05-26 20:50] #31 closed

[2021-05-26 20:54] alolita commented on #16
@odeke-em let's discuss this - could use your help to itemize these guidelines and add to the readme for the Prometheus receiver.

[2021-05-26 20:55] alolita commented on #15
@odeke-em can you please take a look and add these examples to the readme for the OTel Operator.

[2021-05-26 20:57] alolita commented on #13
@rakyll can you please take a look :-)

[2021-05-26 20:58] alolita commented on #12
We decided not to do this and instead use the queuing mechanisms existing in the Collector already. Please see PR https://github.com/open-telemetry/opentelemetry-collector/pull/3214 for more details.

[2021-05-26 20:58] #12 closed

[2021-05-26 21:01] alolita commented on #11
This is partially done. The implementation to address min/max configs changed. See PR https://github.com/open-telemetry/opentelemetry-collector/pull/3046

[2021-05-26 21:01] #11 closed

[2021-05-26 21:04] alolita commented on #4
This issue was tracking the service discovery for Prometheus. We are reusing what already exists in Prometheus hence closing.

[2021-05-26 21:04] #4 closed

[2021-05-26 21:06] alolita commented on #3
External labels support in the Prometheus receiver has been addressed. But there are other cases that need to be itemized in a compliance checklist. Scrape behavior is not tested as part of compliance.

[2021-05-26 21:07] alolita commented on #2
@odeke-em can you provide an update on this?

[2021-05-27 16:59] rakyll commented on #52
Is this an issue to be better filed at https://github.com/prometheus/compliance/ for visibility?

[2021-06-01 15:38] rakyll commented on #13
See https://github.com/open-telemetry/opentelemetry-collector/pull/3323 to rely on metrics for dropped data.

[2021-06-01 15:38] #13 closed

[2021-06-02 15:07] dashpole commented on #52
We decided to add all of the metrics instead of just limiting to "up", so we should be all set either way.

[2021-06-02 15:07] #52 closed

[2021-06-02 20:41] alolita commented on #38
@punya is someone on your team available to work on this issue? This is a blocker for PRW compliance. Perhaps Fabian could take a look and advise?

[2021-06-02 20:42] punya commented on #38
@alolita let me get back to you this week.

[2021-06-08 19:06] Aneurysm9 commented on #44
This continues to fail even with the `up` metric present:

[code]

[2021-06-08 21:46] odeke-em commented on #44
Please assign this issue to me

[2021-06-08 22:35] alolita commented on #44
All yours @odeke-em

[2021-06-09 10:48] odeke-em commented on #44
I think the Prometheus Remote Write compliance tests are wrong. I have written a sample test and used Prometheus with it and Prometheus is able to successfully get the datapoints.

### main.go
[code]

Run it by `go run main.go`

### prom.yaml
[code]

Run it by `prometheus --config.file=prom.yaml  --log.level=debug`

### Viewed on Prometheus
<img width="1331" alt="Screen Shot 2021-06-09 at 1 45 02

[2021-06-09 10:59] brian-brazil commented on #44
If that's the case, then that's a bug in Prometheus. Are you sure you're using the latest version? We had to fix this at one point.

[2021-06-09 11:33] roidelapluie commented on #44
We reject them, in TSDB:

https://github.com/prometheus/prometheus/blob/7bc11dcb06640ce22b4e15eb52b2c065f97cf79a/tsdb/head.go#L1374-L1376

[2021-06-09 11:38] roidelapluie commented on #44
Your Prometheus screenshot seems from a release before Prometheus 2.14, because it is the "old" UI without a link to the new UI. That link was added in 2.14. I guess you are using a Prometheus release that was released before 2019-11-11.

Duplicate labels are rejected since 2.16.0, released on 2020-02-13.

[2021-06-09 12:31] odeke-em commented on #44
Oh I see I see! Thank you Julien and Brian for the correction. I had
installed Prometheus by a go get a while ago and hadn’t updated. Let me
update and try again.

On Wed, Jun 9, 2021 at 2:39 PM Julien Pivotto ***@***.***>
wrote:

[2021-06-09 12:46] odeke-em commented on #44
Yup, with the latest, I now see the issue
[code]

Thank you Brian and Julien!

[2021-06-09 15:02] odeke-em commented on #44
This issue was a red herring, the problem is actually in the Prometheus receiver and I've filed https://github.com/open-telemetry/opentelemetry-collector/issues/3407 and am mailing a PR soon after the Prometheus Working Group meeting that's currently ongoing.

[2021-06-09 15:52] alolita commented on #34
Note: Compatibility tests status as of June 9 2021:

Update on Compliance tests, Collector 0.28.0:
    --- FAIL: TestRemoteWrite/otelcollector (0.01s)
        --- FAIL: TestRemoteWrite/otelcollector/RepeatedLabels (10.01s) -- (Emmanuel working on this, filed https://github.com/open-telemetry/opentelemetry-collector/issues/3407 as it is an issue with receiver/prometheus) PR available at https://git

[2021-06-09 15:54] odeke-em commented on #34
After those PRs are addressed it’ll only be staleness left. I’ll take over
that and fix it.

On Wed, Jun 9, 2021 at 6:52 PM Alolita Sharma ***@***.***>
wrote:

[2021-06-09 15:54] odeke-em commented on #34
After those PRs are merged it’ll only be staleness left. I’ll take over that and fix it.

[2021-06-09 16:09] punya commented on #38
Fabian is on vacation until June 14th. I'll ask around if there are other Prometheus experts who can weigh in.

[2021-06-09 18:52] rakyll opened #54 "Remote write compliance: TestRemoteWrite/otelcollector/Retries500"
The OpenTelemetry collector is not passing https://github.com/prometheus/compliance/tree/main/remote_write
TestRemoteWrite/otelcollector/Retries500.

[code]

[2021-06-09 21:55] alolita commented on #34
That works. Thanks @odeke-em

[2021-06-10 08:12] #44 closed

[2021-06-11 05:46] #54 closed

[2021-06-17 20:15] alolita opened #55 "Ensure parity for OTEL Collector Prometheus receiver with Prometheus server"
@odeke-em Look forward to details on your analysis.

[2021-06-17 20:21] alolita opened #56 "Ensure stability of Prometheus remote write exporter"
@odeke-em please list the requirements in detail that you think are needed to ensure stability.

[2021-06-18 06:57] alolita opened #57 "Itemize Requirements for Prometheus Receiver Tests"
Document Prometheus receiver tests needed to verify it is functioning as expected. This doc will also itemize expected behavior.

[2021-06-18 07:00] alolita opened #58 "[Tracker Issue] Itemize testing requirements for Prometheus Remote Write Exporter"
Itemize PRW exporter expected behavior and tests needed to verify PRW exporter is functioning as expected for OTLP to Prometheus data transformations.

These tests are not the same as the PRW compliance tests.

[2021-06-22 21:04] odeke-em opened #59 "Isolate tests for staleness markers and up metric tests out of TestEndToEnd"
We currently have some difficulty with the OpenTelemetry Collector Prometheus receiver's TestEndToEnd because that code was written in 2019 and didn't account for staleness markers (PR for https://github.com/open-telemetry/opentelemetry-collector/pull/3423) nor the up metric per PR https://github.com/open-telemetry/opentelemetry-collector/pull/3116

@Aneurysm9 suggested that perhaps we can move ou

[2021-06-23 05:47] alolita commented on #41
#3116 is merged. Closing issue.

[2021-06-23 05:47] #41 closed

[2021-06-23 05:51] alolita commented on #36
#3116 is now merged. So this conformance test should pass.

@Aneurysm9 can you please confirm this test is passing?

[2021-06-23 05:51] #36 closed

[2021-06-23 05:54] alolita commented on #33
@alexperez52 @Raul9595 can you verify this now works with Prometheus 2.28?

[2021-06-23 12:04] alexperez52 commented on #33
We verified that it does work with Prometheus 2.28

[2021-06-23 21:21] alexperez52 opened #60 "Implement a target allocator to support scrape target update and collector instance replicas in a StatefulSet"
*Is your feature request related to a problem? Please describe.*

With the support of StatefulSet resources now implemented, there is the use case where there are more than 1 stable collector instances in the StatefulSet. Currently there is no way to delegate workload to these instances.
The load balancer design document was reviewed on the 06/23 Prometheus WG meeting.
https://docs.google.com/docu

[2021-06-24 19:50] odeke-em commented on #58
Requirements:
- [ ] Ensure that "Out of order" samples messages DO NOT retry
- [ ] Ensure that a 400 StatusBadRequest HTTP errors DO NOT retry
- [ ] Ensure that `storage.ErrOutOfOrderSample`, `storage.ErrOutOfBounds`, `storage.ErrDuplicateSampleForTimestamp` DO NOT produce retries
- [ ] Test that out of order samples are NOT sent even when received from OTLP
- [ ] Test that we can't send out dupli

[2021-06-24 19:59] odeke-em commented on #55
Requirements:
- [ ] Test minimum scrape endpoint counts -- create a single scrape endpoint and then compare with the scrape characteristics with Prometheus server
- [ ] Test maximum scrape endpoint counts -- e.g. dynamically create 1,000 scrape endpoints and then scrape them and compare with Prometheus server -- what file/resource limits are encountered and are common?
- [ ] Test scraping out-of-o

[2021-07-08 23:45] odeke-em commented on #38
Fixed by https://github.com/open-telemetry/opentelemetry-collector/pull/3423 and now we are 100% passing :-)

[2021-07-09 00:37] #38 closed

[2021-07-21 13:12] alexperez52 commented on #60
### Update -
Naming has been changed from Load Balancer to Target Allocator for correctness and specificity purposes.

[2021-07-27 16:24] odeke-em commented on #58
@alolita you had mentioned to me that @tomwilkie provided a design doc for Prometheus Remote Write push endpoint. Could y'all please share it?

[2021-07-27 18:40] alolita commented on #33
Closing this issue since http_sd support was added in Prometheus upstream.

[2021-07-27 18:40] #33 closed

[2021-07-27 18:41] alolita commented on #23
We've added a couple of fields to the upstream CRD and ensured the config generator from the Prometheus Operator CRD is available for us to reuse.

[2021-07-27 18:41] #23 closed

[2021-07-27 18:43] alolita commented on #19
We understand what performance benchmarking criteria need to be implemented. Closing this issue but implementation of the benchmarking tests still needs to be done in phase 2.

[2021-07-27 18:43] #19 closed

[2021-07-27 18:47] alolita commented on #16
It will be the end user's responsibility to add the correct labels. But these guidelines still need to be written and documented in a readme or in multiple places. The Prometheus receiver readme is a good place, the Operator readme is another place this should be documented and any other docs used for configuring the exporter or Prometheus pipeline.

[2021-07-27 18:50] alolita commented on #16
@jmacd can you take a crack at an initial set of guidelines for labeling that we can provide in OTEL documentation.

[2021-07-27 18:52] alolita commented on #15
This documentation should be done and part of the Operator docs.

[2021-07-27 18:54] alolita commented on #9
@odeke-em can you outline what else needs to be done to complete WAL support in this case.

[2021-07-27 18:59] alolita commented on #22
This issue is obsolete now since the OpenTelemetry Operator is used as the primary mechanism for target allocation. We implemented our own WAL, up and staleness marker support.

[2021-07-27 18:59] #22 closed

[2021-07-27 19:01] alolita commented on #6
We are addressing the implementation with the OTEL Operator enhancements.

[2021-07-27 19:04] alolita commented on #57
@vishiy were you going to add some documentation on itemizing the Prometheus receiver tests. A doc or test cases would great to have.

[2021-07-27 19:05] alolita commented on #57
@RichiH do you have any tests for configuration and receiver tests expected for Prometheus? Can you please share some docs or links to existing tests?

[2021-07-28 00:30] alolita commented on #58
@odeke-em are you referring to this doc --> https://docs.google.com/document/d/1LPhVRSFkGNSuU1fBd81ulhsCPR4hkSZyyBj1SZ8fWOM/edit#heading=h.3p42p5s8n0ui

[2021-07-28 11:57] RichiH commented on #57
We don't, but I would love to get alignment and if you write tests those could be upstreamed to Prometheus.

[2021-07-28 15:36] alolita commented on #57
Design doc started today in the Prometheus WG by RichiH for community collaboration and discussion is now available at:
https://docs.google.com/document/d/1DGdpWKEE666n8bGVBu_7upKJEDbHiaNFPuzMB6bx-cY/edit

[2021-07-28 16:36] vishiy opened #61 "Prometheus version used by Prometheus receiver"
Many times we see a valid prometheus scrape config fails when given to collector due to some part of config being either new to the later prometheus versions used by receiver. It will be useful to make the prometheus version that receiver has taken dependency on in our docs (as well as a header), so config authors can ensure they are adhering to the config schema as published by the receiver/colle

[2021-07-29 12:01] roidelapluie commented on #61
Can you please clarify `other way as well`?

Prometheus 2.x has been there for 3 years I think and the configuration should be forward compatible with 2.x releases. Did we miss something on the prometheus side?

[2021-08-08 05:28] odeke-em commented on #3
@alolita by the definition of how we parse configurations, yes the receiver configuration is compatible with Prometheus server given that we have https://github.com/open-telemetry/opentelemetry-collector/blob/3a69fa61ef5171547cc6bef95db928897b30d425/receiver/prometheusreceiver/config.go#L36-L48
![Screen Shot 2021-08-07 at 12 15 47 AM](https://user-images.githubusercontent.com/4898263/128592053-372

[2021-08-10 18:04] dashpole commented on #3
My preference would be to keep the prometheus receiver (scrape), prometheus remote read receiver, and the remote write exporters as separate components.

As part of validation, it might be good to validate that each component only allows setting configuration for pieces of the config that apply to it.  For example, the prometheus receiver would disallow setting: `rule_files`, `alerting`, `remote_w

[2021-08-10 20:36] alolita commented on #3
I agree with @odeke-em that we should be drop-in compatible for Prometheus and we add validation for each component that allows setting configuration. Will open a separte issue on validation.

cc: @rakyll

[2021-08-18 00:54] odeke-em commented on #34
Alright, so these tests all pass now thank you everyone, but we need to have them being run with the collector to avoid breakages and thus @kirbyquerby is working on adding them as imported tests to the collector.

[2021-08-19 07:34] odeke-em commented on #3
I've mailed PR https://github.com/open-telemetry/opentelemetry-collector/pull/3864 please take a look.

[2021-08-19 22:35] #3 closed

[2021-08-24 18:54] #59 closed

[2021-08-24 20:45] alolita commented on #30
Duplicate issue.

[2021-08-24 20:45] #30 closed

[2021-08-25 15:19] alolita commented on #51
This is not implemented yet.

[2021-08-25 15:22] alolita commented on #32
PR https://github.com/open-telemetry/opentelemetry-operator/pull/389 in the Operator repo is in review currently.

[2021-08-25 15:24] alolita commented on #9
This last PR is awaiting merge in the contrib repo.

[2021-08-25 15:25] alolita commented on #2
Draft PR by @odeke-em needs to move to contrib as well as related issues.

[2021-08-25 15:31] alolita opened #62 "Should OTEL language libraries also support pull Prometheus exporters or reuse the Collector Prometheus exporter"
Discussion needed in spec SIG. Will file more detailed issue in spec repo.

[2021-09-20 22:33] vishiy commented on #61
@roidelapluie - i meant to say only the first way :). i edited the comment.

[2021-09-20 22:38] vishiy commented on #57
@RichiH - We started a preliminary list of prometheus receiver compatibility cases, in the above doc. We would want to ensure prom config compatibility & also data compatibility between prom receiver & prom, i believe ? Can you please help by taking a look  (thank you!).
Also fyi @jmacd , to get his feedbacks from special cases handled by him in his side car as we discussed in last SIG.
@alolita @

[2021-09-24 07:06] alolita commented on #32
@Aneurysm9 is there anything else that needs to be done. The previous PRs have been merged.

[2021-09-30 12:10] andrey-dubnik commented on #61
Is there a hard dependency on 1.x? E.g. in our use case the required configuration object was added from 2.29 and indeed having the compatibility in the proximity of the latest prometheus release would be very beneficial.

[2021-10-06 00:19] gracewehner opened #63 "Prometheus Receiver UI for Viewing Targets/Service Discovery/Config"
Currently, authoring scrape configs or debugging issues with scrape configs can be difficult and has a learning curve using just the debug logs of the prometheus receiver.

Prometheus has a web UI with the pages Targets, Service Discovery, and Configuration for this:
![targets (2)](https://user-images.githubusercontent.com/21349004/136120997-36c58a17-523a-48ea-b73b-73d73aa5ca7a.png)
<img width="11

[2021-10-06 13:18] dashpole commented on #63
It is similar in concept to zpages, but for prometheus metrics.  Having it as an extension like zpages would be nice for decoupling, but looking at the zpages extension, it isn't actually very decoupled, since it is mostly [implemented by the service itself](https://github.com/open-telemetry/opentelemetry-collector/blob/190f8fbb2b9afba7f6e1ab2ea8b70d5304258cdf/service/zpages.go#L41), rather than t

[2021-10-13 15:53] alolita opened #65 "Support Prometheus Stateset"
See https://github.com/jsuereth/opentelemetry-specification/blob/wip-prometheus-datamodel-spec/specification/metrics/datamodel.md#prometheus-compatibility

for SDKs and Collector

[2021-10-29 22:18] alolita commented on #2
10/29: @Aneurysm9 noting your comment about adding a feature flag for able between the OpenCensus and the pData implementations which still exist in collector-contrib.

Next step: File a PR to add a featureflag initially and then other PRs to remove the OpenCensus implementation, remove feature gate and just keep the pData implementation.

[2021-10-29 22:25] alolita commented on #6
Oct 29: All items have been completed for target allocation and service discovery in the OTEL Operator. The Collector and Prometheus Receiver did not need to be updated since the Prometheus server added the http_sd feature upstream.

[2021-10-29 22:25] #6 closed

[2021-10-29 22:29] alolita commented on #9
10/29: PR 4874 in collector-contrib needs work; this implementation is not complete yet.

[2021-10-29 22:32] alolita commented on #15
This documentation has been added to the Operator repo (see readme) as well as documented downstream in AWS Distro for OpenTelemetry docs at https://aws-otel.github.io/docs/getting-started/operator

[2021-10-29 22:32] #15 closed

[2021-10-29 22:34] alolita commented on #16
10/29: At this point, we assume it will be end user's responsibility to add the right labels they need. Take a look at https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#metric-naming-and-namespaces for good practices.

[2021-10-29 22:34] #16 closed

[2021-10-29 22:36] alolita commented on #17
10/29: See AWS Distro for OpenTelemetry (ADOT) tech docs for specific Prometheus pipeline configurations at https://aws-otel.github.io/docs/getting-started/advanced-prometheus-remote-write-configurations

[2021-10-29 22:36] #17 closed

[2021-10-29 22:37] Aneurysm9 commented on #32
This has been completed with the Operator's target allocation capability.

[2021-10-29 22:37] #32 closed

[2021-10-29 22:39] alolita commented on #34
10/29: This is now done.

[2021-10-29 22:39] #34 closed

[2021-10-29 22:42] alolita commented on #50
As of Oct 29 2021: track collector-contrib issues at: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues?q=is%3Aopen+is%3Aissue+label%3Acomp%3Aprometheus

[2021-10-29 22:43] alolita commented on #51
10/29: closing older issue.

[2021-10-29 22:43] #51 closed

[2021-10-29 22:45] alolita commented on #55
Paurush and Mustafain - can you take a look. Thx.

cc: @Aneurysm9

[2021-10-29 22:47] alolita commented on #56
Paurush, Mustafain: Let's pull a list of items needed to declare stability for the exporter.

[2021-10-29 22:49] alolita commented on #58
Paurush, Mustafain: Let's take a look at this.

cc: @Aneurysm9

[2021-10-29 22:49] Aneurysm9 commented on #60
This has been completed in the Operator.

[2021-10-29 22:49] #60 closed

[2021-10-29 22:55] alolita commented on #61
Can a generic comment be added that the user needs to check the version of the Collector that they're using (by checking gomod). This is a partial solution since Prometheus follows its own guidelines for versioning and maintaining backwards compatibility.

[2021-10-29 22:55] #61 closed

[2021-10-29 22:59] alolita commented on #62
A decision taken in the Collector SIG was to use the Collector based PRW Exporter for all Prometheus remote-write push based services.

However each individual language library can still support a pull-based OpenMetrics exposition end point.

[2021-10-29 22:59] #62 closed

[2021-11-06 21:02] Haybu commented on #55
is `rule_files` supported?

[2021-11-18 02:57] hyunuk commented on #56
@alolita Can you please assign this issue to me?

[2021-11-18 02:58] JamesJHPark commented on #58
@alolita Can you please assign this issue to me?

[2021-11-18 02:58] alolita commented on #58
Assigned. Thanks James.

[2021-11-18 02:59] alolita commented on #56
@hyunuk Thanks for taking this on. Assigned.

[2021-11-24 16:34] alolita commented on #9
11/24: This PR needs to be revived and reviewed. Discussed in Prometheus-workgroup and is used by the PRW exporter and needs to be completed.

[2021-12-10 23:47] JamesJHPark commented on #56
The requirements for testing PRW Exporter stability included verification of tests for protocol compliance, backward and forward compatibility, labels and ordering, retries and backoff, stale markers and additional requirements mentioned in issue #58 .

![Covered](https://user-images.githubusercontent.com/45812677/145654668-19160c61-b124-4198-8ae5-da3deedb3b48.jpeg)

[2021-12-10 23:48] JamesJHPark commented on #58
Please refer to the issue #56

[2021-12-10 23:48] alolita commented on #56
Thanks @JamesJHPark @hyunuk for completing verification of PRW Exporter and ensuring full compliance with the PRW spec.

[2021-12-10 23:48] #56 closed

[2021-12-10 23:49] alolita commented on #58
Thanks @JamesJHPark @hyunuk for completing verification of PRW Exporter and ensuring full compliance with the PRW spec.

[2021-12-10 23:49] #58 closed

[2021-12-13 04:20] alolita commented on #57
Requirements are complete. Once implementation PRs are merged, this issue should be closed.

[2022-01-19 07:00] alolita commented on #55
This is now been achieved Closing as completed.

[2022-01-19 07:01] #55 closed

[2022-01-19 07:02] alolita commented on #9
1/18: @Aneurysm9 any updates on completion?

[2022-01-19 07:03] alolita commented on #2
1/18: @Aneurysm9 any other updates for this issue? pData implementation has been completed.

[2022-01-19 07:06] alolita opened #67 "Complete Prometheus exporter specification"
Review and provide feedback + additions to https://github.com/open-telemetry/opentelemetry-specification/pull/2266

[2022-01-19 19:37] Aneurysm9 commented on #2
@alolita https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7282 is the next step.

[2022-01-19 21:37] erichsueh3 opened #68 "OTEL Prometheus Exporters Gap Evaluation and Recommendations"
**Description**
The purpose for this evaluation was to assess the state of Prometheus pull exporters available in OpenTelemetry (OTEL) Collector and language libraries for metrics GA readiness. Goals included assessing:
1. completeness of the OTEL spec for these exporters
2. verifying whether the pull exporters implemented are compliant with the OTEL specification and
3. if the existing pull expor

[2022-01-31 22:16] dashpole opened #69 "Support a cumulative "interpretation" of Unknown metrics"
[Prometheus Unknown metrics](https://github.com/OpenObservability/OpenMetrics/blob/d99b705f611b75fec8f450b05e344e02eea6921d/specification/OpenMetrics.md#unknown) are metrics that have no type information, such as metrics from a third party system.  Prometheus doesn't actually make use of type information, so Prometheus users can treat Unknown metrics as either counters or gauges at query time.

Un

[2022-02-02 16:22] dashpole commented on #69
One idea presented by @Aneurysm9 at the prometheus-wg meeting today is to add a resource attribute as a way to indicate that the metric was original unknown as a convention.  This would not require data model changes.

[2022-02-02 16:28] Aneurysm9 commented on #69
Not a resource attribute, but a metric attribute since the attribute would not necessarily apply to all metrics from that resource.

[2022-03-16 13:33] #9 closed

[2022-08-05 10:12] jmacd commented on #2
May we mark this Done?

[2022-08-05 14:14] #2 closed